@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Financial Trust Palette */
  --color-primary: #003049;
  /* Blu Scuro */
  --color-secondary: #C1121F;
  /* Rosso */
  --color-secondary-light: #FDF0D5;
  /* Crema */
  --color-accent: #C1121F;
  /* Rosso accents */

  --color-neutral-bg: #F8FAFC;
  /* Slate 50 */
  --color-neutral-light: #E2E8F0;
  /* Slate 200 */
  --color-neutral-dark: #334155;
  /* Slate 700 */
}

body {
  @apply bg-neutral-bg text-neutral-dark antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-primary;
}

@layer components {
  .section-padding {
    @apply py-16 lg:py-24;
  }
}